/* INDEX CSS */
/* Content that is relevant to the Home Page */

/* ------ Body Section ------*/
.banner {
    height: 100vh;
}

/* ------ Search bar Section ------*/

.search_bar_holder {
    width: 50%;
    margin: 47vh 0 0 25%;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px #4a4a4a;
}

.search_bar {
    width: 75%;
    border: none;
    padding: 10px 10px 10px 20px;
    height: 100%;
    outline: none;
    color: #9DBFAF;
    border-radius: 2px;
    float: left;
}

.search_bar:focus{
    color: #0083B8;
}

input.search_bar {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
}

.filters {
    width: 9%;
    height: 70px;
    background-color: #0083B8;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 1%;
}

#filter_options {
    padding: 2%;
    background-color: #FFF;
    border-radius: 2px;
    margin-top: 70px;
    border-top: solid 2px #0083B8;
    background-color: #DDD;
    display: none;
}

.filter_containers {
    display: inline-block;
    margin-right: 10%;
}

#geo_filter_containers {
    display: inline-block;
    margin-right: 10%;
}

.search_button_icons {
    width: 40%;
}

#button_divider {
    border-left: solid 1px #fff;
}


/* ---- Media queries ---- */
@media only screen and (max-width : 1060px) {
    
    .search_bar_holder {
        width: 70%;
        margin-left: 15%;
    }
}


@media only screen and (max-width : 640px) {
    
    .search_bar_holder {
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width : 480px) {
    .search_bar {
        width: 60%;
    }
    
    .filters {
        width: 14%;
    }
}

