/* Text*/

h2 {
    text-align: center;
    margin: 0;
}

/* Set banner height */

#map {
    height: 100%;
    width: 100%;
}

input[type=text] {
    width:60%;
    margin:10px 0;
    font-size:12px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}

#rego {
    background-color: #DDD;
    padding: 2%;
}


/* Media queries - for mobile */

@media only screen and (max-width : 640px) {
    
    /* Reduce height of banner on mobile */
    .banner {
        height:30vh;
    }

}

