/* Set banner height */

.banner {
    height:40vh;
}

form label {
    font-weight:bold;
}

input[type=text], input[type=password], input[type=email] {
    width:90%;
    margin:10px 0;
    font-size:18px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(198, 198, 198);

}


/* Media queries - for mobile */

@media only screen and (max-width : 640px) {
    
    /* Reduce height of banner on mobile */
    .banner {
        height:30vh;
    }

}