/* MAIN CSS */
/* Content that is relevant to the entire site */


/* ---------- Paragraphing and Text ----------*/
h1 {
    margin-top: 0;
    text-align: center;
}

h2 {
    margin: 5% 0 2% 0;
}

h3 {
    color: #FFF;
    text-align: left;
    margin: 0;
}

h4 {
    margin: 0 0 2% 0;
}

a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: border 300ms ease; 
    font-weight:bold;
}

a:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
}

a:link, a:visited {
    text-decoration: none;
    color: #000000;
}


/* ---------- Header Section ----------*/
.header {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 0.3s ease;
}

.active_header{
    background-color: #0083B8;
    box-shadow: 0 0 10px #4a4a4a;
    transition: all 0.3s ease;
}

#desktop-menu-img {
    margin-left: 15%;
    float: left;
    width: 100px;
    padding: 4px 0 0 0;
}

nav {
    float: left;
    margin: 0 0 0 2%;
}

nav ul {
    font-weight: bold;
    height: 20px;
    text-decoration: none;
    padding: 20px 0 20px 0;
    margin:0;
}

nav li {
    display: inline;
    padding-right: 30px;
    color: #FFF;
}

.rego_nav {
    float: right;
    margin: 0 15% 0 0;
}

.nav_right_link {
    padding-right: 0;
}

/* Link styling for header and footer links */
header a, footer a {
    border-bottom: 1px solid rgba(192, 192, 192, 0);
    transition: border 300ms ease; 
    font-weight:bold;
}

header a:hover, footer a:hover {
  border-bottom: 1px solid rgba(256, 256, 256, 1);
}

header a:link, footer a:link, header a:visited, footer a:visited {
    text-decoration: none;
    color: #FFF;
}


/* ---- Mobile navigation bar ---- */
.mobile-header {
    display:none;
    width:100%;
    height:auto;
}

.mobile-header li{
    white-space: nowrap;
    width:100%;
}

#menu-img {
    width:50px;
    float:left;
    margin:15px 0 15px 15px;
}

.mobile-header ul {
    padding:0;
}

.mobile_logo {
    display: none;
}

.mobile-header li {
    padding:0 0 15px 15px;
    width:100%;
}


/* ---------- Body Section ----------*/
::selection {
    background-color: #0083B8;
    color: white;
}

body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #EEE;
    overflow-x: hidden;
}

main {
    background-color:#fff;
    padding: 3% 5% 5% 5%;
    min-height: 300px;
    margin: 0 15% 0 15%;
}

/* ---- Featured Locations ----*/
#feature1, #feature2, #feature3 {
    width: 30%;
    margin: 1.5% 1.5% 3% 1.5%;
    float: left;
}

#feature_image1, #feature_image2, #feature_image3 {
    width: 100%;
}

#feature_text1, #feature_text2, #feature_text3 {
    position: absolute;
    width: 11%;
    margin-top: 1%;
    padding: 0.5%;
    opacity: 100;
    background-color: #4a4a4a;
    border-right: solid 5px #0083B8;
    
}

/* ---- Comments for Review ----*/
.comments {
    background-color: #DDD;
    padding: 2%;
    margin: 2% 0 2% 0;
}

.comment_button {
    background-color: #0083B8;
    color: #FFF;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-right: solid 3px #FFF;
    transition: all 0.2s ease;
}

.comment_button:hover {
    border-right: solid 3px #4a4a4a;
}

.formItem {
    width:100%;
    padding:15px 0 0 0;
}

.formItem > button {
    width:8vw;
    font-size:1.2vw;
    background-color:#0083B8;
    color:white;
    padding:10px;
    border: none;
    border-right: solid 3px #FFF;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: none;
}

.formItem > button:hover{
    border-right: solid 3px #4a4a4a;
}

.logout_button {
    border: none;
    color: white;
    font-family:'Raleway', sans-serif;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-bottom: 1px solid rgba(192, 192, 192, 0);
    transition: border 300ms ease; 
    font-weight:bold;
    font-size: medium;
}

.logout_button:hover {
    border-bottom: solid 1px rgba(256, 256, 256, 1);
}


/* ------ Banner Section ------*/
.banner {
    top: 0;
    background-image: url(../images/background.png);
    background-size: cover;
    background-attachment: scroll;
}


/* ---------- Footer Section ----------*/
footer {
    height: 150px;
    background-color:#4a4a4a;
    color:white;
    padding: 20px 15% 20px 15%;
    font-size: 12px;
    border-top: solid 5px #0083B8;
}

footer a:link, footer a:visited {
    text-decoration: none;
    color: #FFF;
    font-weight:bolder;
}

footer a:hover {
    border-bottom: 1px solid rgba(256, 256, 256, 1);
}
  
footer ul {
    list-style: none;
    margin-top:15px; padding:0;
}

footer li {
    display:inline;
    margin:30px 15px 15px 0;
}

footer li img{
    width:15px;
    padding-right:3px;
}

.footer_box1, .footer_box2 {
   float: left;
   padding: 2%;
}

.footer_box1 {
    width: 40%;
}

.footer_box2 {
    width: 40%;
    margin-left: 1%;
    border-left: solid 1px #FFF;
    padding-left: 10%;
}



/* Media queries */
@media only screen and (max-width : 1060px) {
    
    /* Make main content section full width on mobile */
    main {
        margin: 0;
    }
    
    footer {
        height: 180px;
    }
}


@media only screen and (max-width : 640px) {

    .desktop-header {
        display:none;
    }
    
    nav ul{
        height:auto;
        width:100%;
    }
    
    nav ul li:nth-child(3) {
        margin-top: 20px;
    }

    .mobile-header {
        display:block;
        position: fixed;
        z-index: 10;
    }
    
    .mobile_logo {
        display: block;
        width: 100px;
        margin-left: 78vw;
    }

    .hidden-btns {
        display:none;
    }   

    .mobile-header nav {
        background-color: #0083B8;
        width:100%;
        margin:0;
    }

    #feature1, #feature2, #feature3 {
        float: none;
        width: 70%;
        margin: 10% 15% 5% 15%;
    }
    
    #feature_text1, #feature_text2, #feature_text3 {
        position: absolute;
        width: 40%;
        margin-top: 3%;
        padding: 3%;
    }
    
    .formItem > button {
        width:18vw;
        font-size:2.2vw;
    }
    
    .footer_box1, .footer_box2 {
        float: none;
        padding: 2%;
        width: 70%;
        margin: 0;
    }
    
    .footer_box2 {
        border: none;
        border-top: solid 1px #FFF;
        margin-top: 2%;
        padding-top: 8%;
    }
    
    footer {
        height: auto;
    }
}

@media only screen and (max-width : 520px) {
    .mobile_logo {
        margin-left: 70vw;
    }
    
    .formItem > button {
        width:24vw;
        font-size:2.5vw;
    }
}

@media only screen and (max-width : 370px) {
    .mobile_logo {
        margin-left: 65vw;
    }
    
    .formItem > button {
        width:90vw;
        font-size:4vw;
    }
}

