/* Set banner height */

.banner {
    height:40vh;
    background-image: url(../images/background.png);
}


/* Media queries - for mobile */

@media only screen and (max-width : 640px) {
    
    /* Reduce height of banner on mobile */
    .banner {
        height:30vh;
    }

}