/* Set banner height */

h2 {
    margin: 1% 0 1% 0;
}

.banner {
    height:60vh;
    background-image: url(../images/background.png);
}

.search_bar_holder {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
}

.search_bar {
    width: 78%;
    border: none;
    padding: 10px 10px 10px 20px;
    height: 30px;
    outline: solid 2px #0083B8;
    color: #9DBFAF;
    border-radius: 2px;
    float: left;
    margin-right: 1%;
}

.search_bar:focus{
    color: #0083B8;
}

input.search_bar {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
}

.search_results_button {
    width: 6%;
    height: auto;
    background-color: #0083B8;
    border: none;
    padding: 1.5%;
    display: inline-block;
}

.search_icons {
    width: 100%;
}

.comments {
    cursor: pointer;
    width: 70%;
    margin: auto;
    margin-top: 2%;
}

.map_icon_search {
    float: right;
    width: 10%;
    height: 10%;
    margin: 2%;
}

.comments > aside {
    display: inline-block;
}



/* Media queries - for mobile */

@media only screen and (max-width : 690px) {
    
    .search_bar_holder {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .search_bar {
        width: 74.5%;
    }
    
    .search_results_button {
        width: 9%;
        height: auto;
    }
    
    .comments {
        width: 96%;
    }

}

@media only screen and (max-width : 400px) {
    .map_icon_search {
        float: none;
    }
}