/* Parks CSS Page */

/* ---------- Header Section ----------*/
header {
    width: 100%;
    position: fixed;
    background-color: #0083B8;
}

header img {
    margin-left: 15%;
    float: left;
}

nav {
    float: left;
    margin: 0 0 0 2%;
}

nav ul {
    font-weight: bold;
    height: 20px;
    text-decoration-style: none;
    padding: 20px 0 20px 0;
    margin:0;
}

nav li {
    display: inline;
    padding-right: 30px;
    color: #FFF;
}

nav li a:link, nav a:visited {
    text-decoration: none;
    color: #FFF;
}

nav li a {
    border-bottom: 1px solid rgba(192, 192, 192, 0);
    transition: border 300ms ease; 
}

nav li a:hover {
  border-bottom: 1px solid rgba(256, 256, 256, 1);
}

.rego_nav {
    float: right;
    margin: 0 15% 0 0;
}

.nav_right_link {
    padding-right: 0;
}

/* Mobile navigation bar */
.mobile-header {
    display:none;
    width:100%;
    height:auto;
}

.mobile-header li {
    display:block;
}

.mobile-header img {
    margin:0;
}



/* ---------- Body Section ----------*/
::selection {
    background-color: #0083B8;
    color: white;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #EEE;
}

.banner {
    background-image: url(hero-tester.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 50vh;
}

main {
    background-color:#fff;
    padding: 5%;
    min-height: 300px;
    margin: 0 15% 0 15%;
}

/* ---------- Footer Section ----------*/
footer {
    height: 150px;
    background-color:#4a4a4a;
    padding: 20px 15% 20px 15%;
    font-size: 12px;
    border-top: solid 5px #0083B8;
}

/* Media queries */
@media only screen and (max-width : 640px) {

    .desktop-header {
        display:none;
    }
    
    nav ul{
        height:auto;
    }

    .mobile-header {
        display:block;
    }
    
    .mobile-header li {
        padding:0 0 15px 5px;
    }

    #home-button-mob {
        margin-top:70px;
    }

    #logo-img {
        float:left;
    }

    #menu_img {
        float:right;
    }

    .hidden-btns {
        display:none;
    }

}

